
@model Nop.Plugin.Payment.Paratika.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="Paratika" asp-action="Configure" method="post">

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.OverrideStoreCheckboxFor(model => model.TransactModeId_OverrideForStore, model => model.TransactModeId, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.TransactModeValues)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("TransactModeId", Model.TransactModeValues)
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Code_OverrideForStore" asp-input="Code" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Code" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Code" />
                        <span asp-validation-for="Code"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Username_OverrideForStore" asp-input="Username" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Username" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Password_OverrideForStore" asp-input="Password" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Password" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Guid_OverrideForStore" asp-input="Guid" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Guid" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Guid" />
                        <span asp-validation-for="Guid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="URL_OverrideForStore" asp-input="URL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="URL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="URL" />
                        <span asp-validation-for="URL"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
