@model SocialModel

@using Nop.Core
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var instagramUrl = settingService.GetSettingByKey("prismathemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = settingService.GetSettingByKey("prismathemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("prismathemesettings.vimeourl", String.Empty, storeId, true);
}

<ul class="social-sharing">
    @if (!String.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a target="_blank" class="twitter" href="@Model.TwitterLink"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a target="_blank" class="facebook" href="@Model.FacebookLink"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li><a target="_blank" class="youtube" href="@Model.YoutubeLink"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.GooglePlusLink))
    {
        <li><a target="_blank" class="google" href="@Model.GooglePlusLink"></a></li>
    }
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li><a target="_blank" class="pinterest" href="@pinterestUrl"></a></li>
    }
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li><a target="_blank" class="vimeo" href="@vimeoUrl"></a></li>
    }
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li><a target="_blank" class="instagram" href="@instagramUrl"></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li><a target="_blank" class="rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
    }
</ul>